@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tabla Periodica</h1>
    <p>Learn about <a asp-controller="PeriodicTable" asp-action="GetPeriodicTable">Consultar Tabla Periodica</a>.</p>
</div>
