@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tabla Periódica</h1>
    <p><a asp-controller="PeriodicTable" asp-action="GetPeriodicTable">Consultar Tabla Periódica</a>.</p>
</div>
